/* Global */
:root {
  --bn-orange: #ff6a00;
}
.hover-underline:hover {
  text-decoration: underline;
}
.text-orange {
  color: var(--bn-orange);
}
.border-orange {
  border-bottom: solid 2px var(--bn-orange);
}
.bg-orange {
  background-color: var(--bn-orange);
}
.link-app img {
  width: 100px;
}
.list-group-border-none {
  border: none;
  cursor: pointer;
}
.scrollbar-y {
  overflow-y: scroll;
}
.bg-white {
  background-color: #fff;
}
.list-group-border-none:hover {
  background-color: #f0f0f0;
}
.hover-border-b {
  transition: border-width 0.2s linear;
}
.hover-border-b:hover {
  border-bottom: solid 2px #fff;
}
.img-item {
  width: 60px;
  height: 60px;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  background: #f4f4f4;
}
.z-index {
  position: absolute;
  z-index: 1;
}
/* Menu bar */
.nav-container {
  background-position: center;
  background-image: linear-gradient(
      rgba(0.85, 0.85, 0.85, 0.85),
      rgba(0.85, 0.85, 0.85, 0.85)
    ),
    url(../images/home-bg.jpg);
  height: 400px;
  background-size: cover;
}
.flag {
  width: 25px;
  height: 20px;
  margin: 0 10px;
}

/* Body */
.search-img :hover {
  color: var(--bn-orange);
}
.opacity-hover {
  opacity: 0.25;
}
/* Banner */
.carousel-control-next,
.carousel-control-prev {
  width: 6% !important;
  top: 40% !important;
  bottom: 40% !important;
}
.btn-rounded {
  width: 44px;
  height: 44px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 24px !important;
  height: 24px;
}
.btn-indicators {
  width: 8px !important;
  height: 8px !important;
  border-radius: 100%;
}
/* --------------------- */

/* get product inspiration */
.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.h-100-p {
  height: 100%;
}

/* --------------------- */

/* New arrival */
.card-new .card-spot {
  background-color: rgb(236, 236, 236);
}

.vmore {
  font-size: 25px;
}

/* Top Ranking */
.tablink {
  padding: 11px 24px;
  border-radius: 28px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  margin-right: 16px;
  box-sizing: border-box;
  background-color: white;
}
.top-ranking center {
  font-size: 1rem;
  font-weight: bold;
}
.rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-to-anther-page {
  font-size: 20px;
}
.tab button.active {
  color: white;
  background-color: orange;
  border: 1px solid rgb(234, 226, 226);
}
.imge-of-item {
  width: 45%;
}
.image-product {
  border-radius: 16px;
  width: 100%;
  object-fit: contain;
}
.top-ranking button {
  border: 1px solid rgb(213, 210, 210);
}
.sub-items-soccer {
  display: flex;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.main-cards {
  background-color: #ebe8e8;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid rgb(189, 189, 189);
}
.top-ranking span {
  font-size: 20px;
  line-height: 16px;
}
.tests {
  display: flex;
}

.tests span {
  display: flex;
  flex-direction: column;
}
.title-price {
  line-height: 10px;
}
/* ------------------------------- */

/* Find suppliers by country or region */
.swiper {
  width: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.home-country-item {
  margin-right: 0;
}
/* -------------------------------------- */

/* Container for horizontal scroll */
.scroll-container {
  width: 94%;
  overflow-x: auto;
  white-space: nowrap;
  align-self: center;
}
.scroll-container-business {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  align-self: center;
  padding-bottom: 20px;
}
/* Content inside the scroll container */
.scroll-content {
  display: inline-block;
}
/* Individual items */
.item {
  display: inline-block;
  margin: 5px 50px;
  text-align: center;
}
.preBtn,
.nextBtn,
.pre-business-btn,
.next-business-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.preBtn {
  left: 0;
}
.nextBtn {
  right: 0;
}

/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 2px; /* Adjust the width */
  height: 2px; /* Adjust the height */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: #a1a1a1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
}

/* For Firefox */
/* Width and color */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.card-supplier {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.country-item-image {
  background: #ececec;
}
.bimg {
  margin: 7px 0;
}

.radius-16 {
  border-radius: 16px;
}

.item-re-business {
  display: inline-block;
  margin: 5px 10px;
}

.pre-business-btn {
  left: -20px;
}
.next-business-btn {
  right: -20px;
}
/* manufacturers card */
.img-card-item {
  width: 7vh;
  height: 7vh;
}

.font-16 {
  font-size: 16px;
}

/* ---------------------- */
