.tablink{
    padding:11px 24px;
    border-radius: 28px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    margin-right: 24px;
    box-sizing: border-box;
    background-color: white;
}
center{
    font-size: 1rem;
    font-weight: bold;
}
.rank{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-to-anther-page{
    font-size: 20px;
}
.tab button.active {
    color: white;
    background-color: orange;
    border: 1px solid rgb(234, 226, 226);
  }
.imge-of-item{
    width: 45%;
}
.image-product{
    border-radius: 16px;
    width: 100%;
    object-fit: contain;

}
button{
    border: 1px solid rgb(213, 210, 210);
}
.sub-items-soccer{
    display: flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.main-cards{
    background-color: #757575;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid rgb(189, 189, 189);
}
span{
    font-size: 20px;
    line-height: 16px;

}
.tests {
    display: flex;
}

.tests span {
    display: flex;
    flex-direction: column;
}
.title-price {
    line-height: 10px;
}
